@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: darkslategray;
	/* background-image: url("../components/pictures/wallhaven-m3zjx1.jpg"); */
	background-size: cover;
}

