@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: var(--bg);
	color: var(--fg);
	font-family: var(--sans);
	font-size: 18px;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

